interactions:
- request:
    body: ''
    headers:
      x-key:
      - REDACTED
    method: GET
    uri: https://agsi.gie.eu/api?date=2026-07-13
  response:
    body:
      string: '{"last_page":1,"total":2,"dataset":"","gas_day":"2026-07-21","data":[{"name":"EU","code":"eu","url":"eu","updatedAt":"2026-07-23
        14:10:11","gasDayStart":"2026-07-13","gasDayEnd":"2026-07-14","gasInStorage":"594.2017","consumption":"3519","consumptionFull":"16.89","injection":"3511.59","withdrawal":"292.4","netWithdrawal":"-3219.2","workingGasVolume":"1130.511","injectionCapacity":"12245.76","withdrawalCapacity":"20030.64","contractedCapacity":"1016.5232","availableCapacity":"117.9204","coveredCapacity":"100","status":"C","trend":"0.28","full":"52.56","info":[],"children":[{"name":"Austria","code":"AT","url":"AT","updatedAt":"2026-07-14
        16:10:09","gasDayStart":"2026-07-13","gasDayEnd":"2026-07-14","gasInStorage":"57.5887","consumption":"78.2000","consumptionFull":"73.64","injection":"288.33","withdrawal":"0","netWithdrawal":"-288.3","workingGasVolume":"100.2789","injectionCapacity":"844.66","withdrawalCapacity":"1083.51","contractedCapacity":"97.0037","availableCapacity":"3.2752","coveredCapacity":"100","status":"C","trend":"0.29","full":"57.43","info":[],"children":[{"name":"GSA","code":"25X-GSALLC-----E","publication_link":"","transparency_template":"","url":"25X-GSALLC-----E\/AT","updatedAt":"2026-07-23
        17:36:16","gasDayStart":"2026-07-13","gasDayEnd":"2026-07-14","gasInStorage":"-","injection":"-","withdrawal":"-","netWithdrawal":"-","workingGasVolume":"-","injectionCapacity":"-","withdrawalCapacity":"-","contractedCapacity":"-","availableCapacity":"-","status":"N","trend":"-","full":"-","info":[],"children":[{"name":"UGS
        Haidach (GSA) \/\/ historical data prior to 6 Oct 2022","code":"25W-SPHAID-GAZ-M","url":"25W-SPHAID-GAZ-M\/AT\/25X-GSALLC-----E","longitude":"13.2361","latitude":"47.9883","type":"DSR","updatedAt":"2026-07-23
        17:36:16","gasDayStart":"2026-07-13","gasDayEnd":"2026-07-14","gasInStorage":"-","injection":"-","withdrawal":"-","netWithdrawal":"-","workingGasVolume":"-","injectionCapacity":"-","withdrawalCapacity":"-","contractedCapacity":"-","availableCapacity":"-","status":"N","trend":"-","full":"-","info":[]}]},{"name":"OMV
        Gas Storage","code":"25X-OMVGASSTORA5","publication_link":"","transparency_template":"","url":"25X-OMVGASSTORA5\/AT","updatedAt":"2026-07[...]
[...]
